[package]
name = "udp-forwarder"
version = "0.1.0"
edition = "2024"

[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
strip = "symbols"
debug = 0

[dependencies]
serde_json = "1.0.145"
socket2 = "0.6.1"
